@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

body {
  font-size: large;
  height: 100vh;
  background-color: aquamarine;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

body > h3 {
    margin-left: 1em;
}

.container {
  display: grid;
  margin: 1em auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px;
  background-color: rgba(255, 189, 159, 0.9);
  height: 30%;
  width: 80%;
}

@media (min-width: 750px) {
    body > h3 {
        margin-left: 13em;
    }
    .container {
        width: 40%;
    }
}
.operand1 > input {
  grid-column: 1/2;
  background: whitesmoke;
  width: 5em;
  height: 2em;
  margin: 2em 0 0 1em;
}
.operator {
  grid-column: 2/3;
  width: 3em;
  height: 2em;
  margin: 1.5em 0 0 1em;
}
.operand2 > input {
  grid-column: 3/4;
  background: whitesmoke;
  width: 5em;
  height: 2em;
  margin: 2em 1em 0 0;
}
.equal {
  grid-column: 4/5;
  width: 3em;
  height: 2em;
  margin: 1.5em 2em 0 0;
  cursor: pointer;
}

input.hasil {
  grid-column: 1/4;
  background: whitesmoke;
  width: 90%;
  height: 2em;
  margin: 0 0 0 1em;
}
